
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>
    <div>
         No one knows where Junebug came form she just showed up one day.
    </div>
</body>

</html>
