
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Media</title>
</head>
<body>
    <div>
       Books and print media can be found here
    </div>
</body>

</html>
