
@{
    //Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>On Line Media</title>
</head>
<body>
    <div>
        Links to online media
    </div>
</body>

</html>
