@model List<Story>



@{
    Layout = null;
}

    


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
    <link rel="stylesheet"href="~/css/site.css"/>
</head>
<body>
    <div>
        <h4>Feel free to read our fan stories about Junebug or <a asp-action="WriteStory">write one!</a></h4>
    </div>
 
    
    @foreach (FanPage.Models.Story s in Model)
    {
        <div>Author: @s.Writer
        <p class="text-box">@s.StoryText</p>
        </div>
    }
</body>

</html>
