
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
</head>
<body>
    <div>
        Stories about a person
    </div>
</body>

</html>
