
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
</head>
<body>
    <div>
        <h1>Here we can all share our favorite stories about Junebug!</h1>
    </div>
    <div>
        <form>
            <p>
                <label>Name:</label>
                <input type="text" name="nameIn"/>
            </p>
            <p>
                <label>Email:</label>
                <input type="text" name="emailIn" />
            </p>
            <p>
                <label>Your Story:</label>
                <textarea rows="6" cols="50">
                </textarea>
            </p>
            <button type="submit">Submit </button>
            
        </form>
    </div>
</body>

</html>
