@model String

@{
    ViewBag.Title = "Read a Story";
    Layout = "~/Views/Shared/_Header.cshtml";
    Story s = StoryRepo.GetStoryByTitle(Model);
}




    <div class="story-form">
        <p> Title:@s.Title</p>
        <p>Author: @s.Writer</p>
        <p>@s.StoryText</p>
    </div>
    <form class="story-form" method="post">
        <div class="form-control">
            <label for="commentText">Write a comment: </label>
            <textarea name="commentText" rows="6" cols="50"></textarea>
        </div>
        <div class="form-control">
            <label for="User" name="user">Name: </label>
            <input for="User" name="user" />
        </div>
        <div class="form-control">
            <label for="rating">Rate the story: </label>
            <input for="rating" name="rating" /> out of 5
         </div>
            <button class="btn" type="submit">Submit</button>
    </form>

