@{
    Layout = "~/Views/Shared/_Header.cshtml";
    ViewBag.Title = "Write a Story";
}

<h2 class="story-form">WriteStory</h2>
<p class="story-form">Here you can share your own Junebug fan-fic or fan-fact!</p>
<form class="story-form" method="post">
    <div class="form-control">
        <label for="writer">Name:</label>
        <input for="writer" type="text" name="writer" />
    </div>
   
    <div class="form-control">
        <label for="title">Title:</label>
        <input for="title" type="text" name="title" />
    </div>
    <div class="form-control">
        <label for="description">Name:</label>
        <input for="description" type="text" name="description" />
    </div>
    <div class="form-control">
        <label for="storyText">Your Story:</label>
        <textarea name="storyText" rows="6" cols="50">
                </textarea>
    </div>
    <button class="btn "type="submit">Submit </button>
</form>

