@{
    Layout = "~/Views/Shared/_Header.cshtml";
    ViewBag.Title = "Write a Story";
}

<h2>WriteStory</h2>
<p>Here you can share your own Junebug fan-fic or fan-fact!</p>
<form method="post">
    <p>
        <label for="writer">Name:</label>
        <input for="writer" type="text" name="writer" />
    </p>
    <p>
        <label for="title">Title:</label>
        <input for="title" type="text" name="title" />
    </p>
    <p>
        <label for="description">Name:</label>
        <input for="description" type="text" name="description" />
    </p>
    <p>

    </p>
    <p>
        <label for="storyText">Your Story:</label>
    </p>
    <p>
        <textarea name="storyText" rows="6" cols="50">
                </textarea>
    </p>
    <button type="submit">Submit </button>
</form>

