@model FanPage.Models.Story


@{
    Layout = null;
}

<h2>WriteStory</h2>
<p>Here you can share your own Junebug fan-fic or fan-fact!</p>
<form method="post">
    <p>
        <label for="writer">Name:</label>
        <input for="writer" type="text" name="writer" />
    </p>
    <p>
        
    </p>
    <p>
        <label for="storyText">Your Story:</label>
        <textarea name="storyText" rows="6" cols="50">
                </textarea>
    </p>
    <button type="submit">Submit </button>
</form>

