
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online</title>
</head>
<body>
    <div>
        Links to online media are under construction
    </div>
</body>

</html>
