
@{
    Layout = "~/Views/Shared/_Header.cshtml";
    ViewBag.Title = "Media Home";
}

<div>
    Junebug has a pretty big online and offline footprint.
    <p>See more of the extensive Junebug official library <a asp-action="Media">Here</a></p>
    <p>See more of Junebug online <a asp-action="Online">Here</a></p>
</div>


